.bg {
    background-image: url("../../assets/images/bg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: auto;
    img {   
        width: 100px;
    }
}
.login-form {
    width: 50%;
}

@media (max-width: 700px) {
    .bg {
        background-image: none;
    }
}
