@import "../../assets/styles/_variable.scss";
.form_group {
    position: relative;
    padding: 15px 0 0;
    margin: 10px 10px;
}

.form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $primary;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form_label {
        cursor: text;
        top: 20px;
    }
}

.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $primary;
    font-weight: 500;
}

.form_field:focus {
    ~ .form_label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-weight: 500;
    }
    padding-bottom: 6px;
    border-width: 1px solid $primary;
    color: $primary;
}
/* reset input */
.form_field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}
