.products {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    padding: 0 10px;
    .product {
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        font-size: 1rem;
        align-items: center;
        cursor: pointer;
        margin-bottom: 35px;
        padding: 10px;
        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        span {
            min-height: 35px;
        }
        img {
            width: 100%;
            height: fit-content;
            object-fit: cover;
        }
        .thumbnail {
            width: 100%;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
            grid-column: 1 / -1;
        }
        .info {
            display: grid;
            grid-template-columns: auto 1fr;    
            min-height: 55px;
        }
        label {
            justify-self: right;
        }
    }
}

@media (max-width: 700px) {
    .products {
        grid-column: 1 / -1;
    }
}
