.pro_list {
    grid-area: products;
    .admin_menu {
        padding: 15px;
        display: flex;
        justify-content: flex-end;
        span {
            cursor: pointer;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            padding: 15px;
            svg {
                padding-right: 5px;
            }
        }
    }
}
