.tonggleMenu {
    justify-self: right;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.65;
    }
}

.menu {
    width: 260px;
    color: #ffffff;
    margin-top: 10px;
    right: 0;
    background-color: #0d2154;
    width: 240px;
    position: absolute;
    transition: all 0.5s;
    opacity: 0.85;
    z-index: 1;
    ul {
        padding: 10px 20px;
        li {
            display: grid;
            grid-template-columns: 24px 1fr auto;
            padding: 8px;
            align-items: center;
            cursor: pointer;
            a {
                color: white !important;
            }
            &:hover {
                background-color: #ffffff;
                color: #000000;
            }
        }
    }
}
