.form_wrapper {
    grid-area: newforms;
    grid-template-rows: 1fr;
    display: grid;
    .column_form {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    .row_form {
        grid-template-rows: 1fr;
        display: grid;
        .form_group {
            .form_field {
                width: 50% !important;
            }
        }
        .size-option {
            width: 50% !important;
        }
    }
    .thumbnail {
        padding: 15px;
    }
}
