.wrapper {
    display: grid;
    grid-template-areas:
        "header header header header"
        "sidebar products products details";
    grid-template-columns: 240px 1fr 1fr 240px;
    position: relative;
}