.left-sidebar {
    padding: 15px;
    height: 100%;
    grid-area: leftsidebar;
    h4 {
        color: #0d2154;
    }
    .sidebar-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        ul {
            padding: 0;
            margin-top: 15px;
            li {
                padding: 10px 0px;
                align-items: center;
                cursor: pointer;
                text-decoration: none;
                list-style: none;
                border-bottom: 1px solid gray;
                a {
                    color: #727272;
                    font-weight: 500;
                    font-size: 14px;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
        .btn_action {
            display: flex;
            justify-content: space-between;
            button {
                background: transparent;
                border: none;
                color: #727272;
                font-weight: 500;
                font-size: 14px;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    color: #c8af6a;
                }
            }
        }
    }
}
