.product_details {
    grid-area: details;
    .details {
        display: grid;
        grid-template-columns: 1fr auto;
        border-left: 1px solid #5a5a5a;
        .tonggleDetails {
            align-self: center;
            button {
                background: transparent;
                border: none;
                cursor: pointer;
            }
        }
        .info {
            display: grid;
            grid-template-rows: 1fr;
            padding: 10px;
            .size_frame {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            .contact {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 10px;
                p {
                    font-weight: 500;
                }
                svg {
                    justify-self: right;
                }
            }
            img {
                width: 100%;
            }
        }
    }
    .details_small {
        display: none;
        background: white;
    }
}

@media (max-width: 700px) {
    .details {
        display: none;
    }
}
