.size-option {
    position: relative;
    padding: 15px 0 0;
    margin: 10px 10px;
    border-bottom: 1px solid #727272;
    .select {
        width: 100%;
        border: none;
        background: #fff;
        appearance: none;
        padding: 0px;
    }
    .arrow-down {
        content: "";
        position: absolute;
        right: 5px;
        top: 25px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
    }
}
