.sidebar {
    top: 0;
    width: 240px;
    grid-area: sidebar;
    position: absolute;
    padding: 15px;
    height: 100%;
    .search {
        position: relative;
        input {
            border: none;
            border-bottom: 1px black solid;
            border-radius: inherit;
            padding-left: inherit;
            color: #9e9e9e;
        }
        .btn_search {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }
    .size-option {
        margin-top: 20px;
        border-bottom: 1px solid #000;
        position: relative;
        .select {
            width: 100%;
            border: none;
            background: #fff;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0px;
        }
        .arrow-down {
            content: "";
            position: absolute;
            right: 5px;
            top: 15px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #000;
        }
    }

    .size-title {
        display: flex;
        justify-content: space-between;
        color: #9e9e9e;
        font-weight: 600;
    }
    .label {
        color: #9e9e9e;
        font-weight: 600;
    }
    .size-input {
        border: none;
        border-bottom: 1px black solid;
        border-radius: inherit;

        width: 100%;
    }
}

.orientation-option {
    display: flex;
    justify-content: center;
    align-items: center;

    .option {
        margin-right: 15px;
    }
}

.shape-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape {
    background: #ddd;
    align-self: center;
}

.portrait {
    height: 40px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 40px;
}

.square {
    height: 30px;
    width: 30px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    color: #666;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
[type="radio"]:checked + label .shape {
    background: #c8af6a;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
@media (max-width: 700px) {
    .sidebar {
        grid-column: 1 / -1;
    }
}
