.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 8px;
    background: white;
    padding: 8px 15px;
    grid-area: header;
    h2 {
        text-align: center;
    }
    .logo {
        opacity: 1;
        width: 100px;
    }
}

// .sidebar{
//     width: 240px;
//     background: white;
//     color: black;
//     top:0;
//     width: 240px;
//     grid-area: sidebar;
//     position: absolute;
//     transition: all 0.5s;
// }

@media (max-width: 700px) {
    .top {
        h2 {
            font-size: 16px;
            text-align: center;
        }
    }
}
