@import "./_variable.scss";

.btn-sdefault {
  cursor: pointer;
  color: $white;
  background-image: linear-gradient(120deg, #84fab0 0%, #64c7f7 100%);
  border-color: #e6e6e6;

  &:hover {
    color: $white;
    border-color: #84fab0;
  }
}

.btn-darkblue {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
}

.btn-red {
  color: #fff;
  background-color: $btn-red;
  border-color: $btn-red;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $btn-red-hover;
    border-color: $btn-red-hover;
  }
}

.btn-blue {
  color: #fff;
  background-color: $blue;
  border-color: $blue;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $blue-hover;
    border-color: $blue-hover;
  }
}

.btn-purple {
  color: #fff;
  background-color: $purple;
  border-color: $purple;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $purple-hover;
    border-color: $purple-hover;
  }
}

.btn-orange {
  color: #fff;
  background-color: $btn-orange;
  border-color: $btn-orange;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $btn-orange-hover;
    border-color: $btn-orange-hover;
  }
}

.btn-yellow {
  color: #fff;
  background-color: $btn-yellow;
  border-color: $btn-yellow;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $btn-orange-hover;
    border-color: $btn-orange-hover;
  }
}
