@import "./_variable.scss";
html,
body {
  font-size: 13px;
  font-weight: normal;
}
label {
  font-weight: bold;
}

.card {
  background: $card-bg-gray;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(201, 191, 201, 0.79);
  -moz-box-shadow: 2px 2px 3px 0px rgba(201, 191, 201, 0.79);
  box-shadow: 2px 2px 3px 0px rgba(201, 191, 201, 0.79);
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none !important;
}

.f-10 {
  font-size: 10px;
}

.f-11 {
  font-size: 11px;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-16 {
  font-size: 16px;
}

.nav-tabs,
.nav-item {
  margin: 0;
  .nav-link.active {
    color: white !important;
    background-color: $blue;
    border-color: $blue;
  }
}

.tab-content {
  padding: 15px;
  border: 1px solid;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #dee2e6;
}

.h-100-percent {
  height: 100%;
}

.card-menu-box {
  height: 100%;
  min-height: 130px;
  cursor: pointer;
  &:hover {
    background: #f3f3f3;
  }
}

.container {
  @media (min-width: 576px) {
    max-width: 570px;
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    max-width: 760px;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    max-width: 980px;
  }
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    max-width: 1000px;
  }
  @media (min-width: 1599px) {
    max-width: 1264px;
  }
}

.item-info {
  .label {
    padding-top: 10px;
    .badge {
      margin-left: 5px;
      background-color: #fc471e;
    }
  }
  i.fas {
    margin-left: 5px;
    margin-right: 5px;
  }
  .btn-primary:disabled {
    background-color: #656565;
    border-color: #656565;
  }
}

@media (max-width: 767.98px) {
  .item-info {
    .label-sm {
      text-align: left;
    }
  }
}

// Disabled cursor
.disabled,
:disabled {
  pointer-events: none !important;
}

ul.pagination {
  li {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sm-container {
  // padding: 1.5rem 0 !important;
  flex: 1 0 auto;
  @media (max-width: 576px) {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    padding: 1.5rem 0 !important;
  }
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    padding: 1.5rem 0 !important;
  }
  @media (min-width: 1599px) {
    padding: 1.5rem 0 !important;
  }
}

.card-button {
  padding: 0 5px;
  background: $card-bg-gray;
  border-color: #f3f3f3;
  box-shadow: 3px 3px 2px 0px #e0dce0;
  cursor: pointer;
  &:hover {
    background: #f1f0f0;
    border-color: #f1f0f0;
  }

  &.no-hover:hover {
    cursor: default;
    background: $card-bg-gray;
    border-color: #f3f3f3;
  }

  .title {
    border-bottom: 2px solid #8c8a8a;
    padding: 5px 7px;
  }

  .amount {
    font-size: 18px;
    font-family: "Samurai-Bold";
  }
}

.nav-tabs {
  .nav-item {
    min-width: 70px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
