@import "./_variable.scss";

.text-weight {
  // font-weight: bold !important;
  font-family: "Samurai-Bold";
}

.text-normal {
  font-weight: normal !important;
}

.green-text {
  color: $green;
}

.red-text {
  color: $tomato;
}

.purple-text {
  color: $purple;
}

.tag-text {
  font-size: 12px;
  background-color: #f7f7f7;
  border: solid 1px #dddddd;
  border-radius: 5px;
  padding: 3px 5px;
  color: #226397;
}

.text-blue {
  color: $blue;
}
