$primary: #727272;
$orange: #c8af6a;
$black: #272727;
$blue: #0d2154;
$white: #fff;
$primary-hover: #c8af6a;
$menu_bg: #0d2154;
$foggy-grey: #646473;
$link: #45a4e8;
$border-gray: #c3bebe;
$brown: #2d2d2d;
$card-bg-gray: #f9f9f9;
$purple: #c653ff;
$green: green;
$tomato: tomato;
$text: #212529;
$gray: #d7d7d7;
$btn-orange: #fe9227;
$btn-yellow: #f2b372;
$btn-red: $tomato;
$btn-red-hover: #bd644c;
$blue-hover: #0361a5;
$purple-hover: #bb32ff;
$btn-orange-hover: #ee7600;
